<style>
  .active {
    background-color: #007bff; /* Blue color used by Bootstrap for active elements */
    color: white; /* Text color */
    border-color: #007bff; /* Border color */
  }

  .container-fluid {
  position: relative;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../assets/images/cover.jpg');
  background-size: cover;
  filter: blur(5px); /* Apply blur effect */
}

.welcome-box {
  position: absolute;
  top: calc(50% + 250px); /* Adjust this value based on your navigation bar's height */
  left: 250px;
  right: 25px; /* Adjusted the right padding */
  max-width: 800px; /* Added max-width to limit the width */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px; /* Reduced padding */
}

.display-2 {
  font-size: 3rem; /* Increase font size */
  font-weight: bold; /* Bold font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow */
}

</style>

<!-- Container -->
<div class="container-fluid">
  <h1 class="text-center my-4 text-light display-2">Deal Management System</h1> <!-- Changed text color to light and added display-2 class for bigger size -->
  <nav class="navbar navbar-expand-sm bg-light navbar-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="/deal" routerLinkActive="active" class="btn btn-light btn-outline-primary mx-2" Button>Deals</button>
      </li>
      <li class="nav-item">
        <button routerLink="/hotel" routerLinkActive="active" class="btn btn-light btn-outline-primary mx-2" Button>Hotels</button>
      </li>
    </ul>
  </nav>

  <!-- Welcome box centered, only visible on home page -->
  <div *ngIf="isHomePage" class="row justify-content-center">
    <div class="col-md-8">
      <div class="welcome-box text-center">
        <h4 class="text-light">Welcome to our Deal Management System</h4>
        <p class="text-light">The ultimate goal is not just for your guests to become loyal to your brand but become advocates for your business, incentivising other travellers to stay with you. Kindness and courtesy as a foundation of your service goes a long way in making sure guests always leave your hotel feeling satisfied.</p>
      </div>
    </div>
  </div>

  <!-- Image as background with blur effect -->
  <div class="background-image"></div>

  <router-outlet></router-outlet>
</div>
